html {
    scroll-behavior: smooth;
}

section {
    scroll-margin-top: 80px;
}

.card {
    border-radius: 1rem;
}

body {
    background-color: #0f172a;
}

@keyframes fadeAnimation {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fadeIn {
  animation-name: fadeAnimation;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-delay: 0.2s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
}